.main-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-image: url("../img/bg-main.png");
    background-position: center;
    background-size: cover;
    gap: 40px;

    > .logo-container {
        display: flex;
        flex-grow: 1;
        align-items: end;
        > .logo-wrapper {
            width: 200px;

            img {
                width: 100%;
                height: auto;
            }
        }
    }

    > .form-container {
        display: flex;
        flex-direction: column;
        flex-grow: 3;
        > .form-wrapper {
            display: flex;
            flex-direction: column;
            background-color: var(--white);
            border-radius: 10px;
            padding: 30px;
            box-shadow: 0px 10px 10px 0px rgb(0, 0, 0, 0.15);

            #loginForm {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 25px;
                margin-bottom: 25px;

                .field-container {
                    display: flex;
                    flex-direction: column;
                    width: 100%;

                    input {
                        position: relative;
                        border-radius: 5px;
                        border: none;
                        outline: var(--light-gray) solid 1px;
                        margin: 0;
                        padding-block: 10px;
                        padding-inline: 10px;
                        transition: all 0.1s ease;

                        &:focus, &:focus-visible, &:focus-within {
                            outline: var(--primary-red) solid 2px;
                            scale: 1.01;
                        }
                    }
                }
                button {
                    width: 70%;
                    padding-block: 5px;
                    background-color: var(--primary-red);
                    border-radius: 5px;
                    border: none;
                    color: white;
                    font-size: 1.05em;
                    cursor: pointer;
                    transition: scale 0.1s ease;

                    &:hover {
                        scale: 1.05;
                    }

                    &:active {
                        scale: 0.95;
                    }
                }
            }

            .info { 
                font-size: 0.8em;
                color: var(--light-gray);
                text-align: center;
            }
        }
    }
}

.error-message {
    margin-bottom: 25px;
    background-color: color-mix(in srgb, var(--primary-red) 20%, transparent 80%);
    border-radius: 5px;
    outline: var(--light-red) solid 1px;
    color: var(--light-red);
    padding: 10px;
}
.success-message {
    margin-bottom: 25px;
    background-color: color-mix(in srgb, var(--dark-green) 20%, transparent 80%);
    border-radius: 5px;
    outline: var(--light-green) solid 1px;
    color: var(--light-green);
    padding: 10px;
}

p { margin: 0; }