body {
    background-image: url("../img/bg-main.png");
    background-position: center;
    background-size: cover;
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    overflow: hidden;
    --player-color: rgb(29, 139, 230);
    --opponent-color: rgb(224, 50, 50);

    > div {
        display: flex;
        flex-basis: calc(100% / 3);
    }

    > .opponent-container, > .player-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        font-family: 'm6x11', 'Poppins';
        color: white;
        font-size: 2em;
        paint-order: stroke fill;
        -webkit-text-stroke: black 4px;

        > .choices-container {
            display: flex;
            flex-direction: row;
            gap: 10vw;

            img {
                width: 100px;
                height: auto;
            }

            .choice {
                margin-top: 10px;
                opacity: 0.5;
                transition: all 0.1s cubic-bezier(.15,0,.2,2.06);
                filter: drop-shadow(0px 10px 10px rgb(0, 0, 0, 0.25));

                &.selected {
                    transform: scale(1.1) translate(0, 20px);
                    opacity: 1;
                }
            }

            .choice-button {
                background-color: transparent;
                border: none;
                margin-bottom: 5px;
                transition: all 0.1s cubic-bezier(.15,0,.2,2.06);
                filter: drop-shadow(0px 10px 10px rgb(0, 0, 0, 0.25));

                &:hover:not(:disabled) {
                    transform: scale(1.05) translate(0, -10px);
                }

                &:active:not(:disabled) {
                    transform: scale(1.05) translate(0, 5px);
                }

                &.selected {
                    transform: scale(1.1) translate(0, -20px);
                }

                &.disabled {
                    opacity: 0.8;
                }
            }
        }
    }

    > .opponent-container { 
        justify-content: start; 
        .info-container > p {
            color: color-mix(in srgb, var(--opponent-color) 90%, white 10%) 
        }
    }
    > .player-container { 
        justify-content: end;
        .info-container > p {
            color: color-mix(in srgb, var(--player-color) 90%, white 10%) 
        }
    }

    > .game-info-container {
        display: flex;
        width: 100%;
        flex-direction: row;
        background-image: linear-gradient(to bottom, rgb(0, 0, 0, 0), rgba(126, 34, 34, 0.3), rgb(0, 0, 0, 0.3), rgb(0, 0, 0, 0.3), rgba(46, 35, 146, 0.3), rgb(0, 0, 0, 0));
        backdrop-filter: blur(1px);

        > div {
            display: flex;
            flex-direction: column;
            flex-basis: calc(100% / 3);
            justify-content: center;
            text-align: center;
        }

        > div:nth-of-type(1) { align-items: start; margin-left: 20px; }
        > div:nth-of-type(2) { align-items: center; }
        > div:nth-of-type(3) { align-items: end; margin-right: 20px; }

        > .game-controls-container {
            gap: 10px;

            button {
                background-color: var(--primary-red);
                border: none;
                padding-block: 5px;
                padding-inline: 10px;
                border-radius: 5px;
                color: var(--light-gray);
                transition: all 0.1s ease;
                cursor: pointer;

                &:disabled { 
                    filter: grayscale(1); 
                    cursor: default;
                }
                &:hover:not(:disabled) { scale: 1.05; color: white; }
                &:active:not(:disabled){ scale: 0.95; color: white; }
            }
        }

        > .round-info-container {    
            gap: 20px;
            font-family: 'm6x11', 'Poppins';
            font-size: 1.5em;
            color: white;
            paint-order: stroke fill;
            -webkit-text-stroke: black 4px;

            > .score-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 1.5em;

                > .score-wrapper {
                    display: flex;
                    flex-direction: row;
                    background-color: rgb(20, 20, 32);
                    padding-top: 12px;
                    padding-left: 22px;
                    padding-right: 18px;
                    border-radius: 5px;
                    outline: black 4px solid;
                    align-items: center;
                    font-size: 2em;
                    gap: 20px;

                    #playerScore {
                        color: var(--player-color);
                    }

                    #opponentScore {
                        color: var(--opponent-color);
                    }

                    .seperator {
                        font-size: 0.8em;
                    }
                }
            }

            .round {
                color: #ffc94a;
                margin-bottom: 10px;
            }

            .wins {
                font-size: 0.75em;
            }

            .result-prompt {
                &.win { color: var(--player-color) }
                &.lose { color: var(--opponent-color) }
            }
        }

        > .room-info-container {
            color: var(--light-gray);

            #roomId {
                color: white;
                font-family: 'm6x11', 'Poppins';
                font-size: 1.5em;
                paint-order: stroke fill;
                -webkit-text-stroke: black 4px;
                background-color: color-mix(in srgb, var(--primary-red) 50%, transparent 50%);
                padding-top: 8px;
                padding-bottom: 4px;
                padding-left: 8px;
                padding-right: 6px;
                border-radius: 2.5px;
            }
        }
    }
}

p { margin: 0; }