body {
    background-image: url("../img/bg-main.png");
    background-position: center;
    background-size: cover;
}

.main-container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 100px;

    > .left, .right { 
        display: flex; 
        flex-direction: column;
        flex-basis: calc(100% / 2);
    }

    > .left {
        align-items: end;
        > .logo-wrapper {
            width: 350px;
            > img {
                width: 100%;
                height: auto;
            }
        }
    }

    > .right {
        .controls-container {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: clamp(100px, 100%, 300px);
            align-items: center;
        }

        .winstreak-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 1.5em;
            
            p {
                margin: 0;
                color: #ffc94a;
                -webkit-text-stroke: black 5px;
                paint-order: stroke fill;
                font-weight: bold;
            }

            span {
                position: relative;
                margin: 0;
                z-index: 0;
                font-size: 4em;
                color: white;
                -webkit-text-stroke: black 8px;
                paint-order: stroke fill;
                font-family: 'm6x11';
                rotate: -15deg;
                translate: -50% 10%;

                &::after {
                    content: url("../img/fire-large.png");
                    position: absolute;
                    z-index: -1;
                    top: 45%;
                    left: 160%;
                    translate: -50% -50%;
                    scale: 0.75;
                    rotate: 30deg;
                    filter: grayscale(1.0);
                }

                &.has-winstreak::after { filter:grayscale(0); }
            }
        }

        a {
            width: 100%;
            border-radius: 5px;
            background-color: var(--primary-red);
            padding-block: 10px;
            color: white;
            border: black solid 2px;
            text-decoration: none;
            text-align: center;
            box-shadow: 0px 5px 10px 0px rgb(0, 0, 0, 0.25);
            transition: scale 0.1s ease;
 
            &:hover {
                scale: 1.1;
            }
        }
    }
}