:root {
    --primary-red: #FF4B4B;
    --light-red: #FF6B6B;
    --light-green: #78f23a;
    --dark-green: #3ac91a;
    --yellow: #FFD93D;
    --white: #FFFFFF;
    --light-gray: rgb(0,0,0,0.4);
    --dark-gray: #333333;
    box-sizing: border-box;
    font-family: 'Poppins', 'Helvetica';
}

body {
    margin: 0;
    padding: 0;
}

input, button {
    font-family: 'Poppins', 'Helvetica';
}

a {
    color: var(--primary-red);
}

.navbar-container {
    position: sticky;
    width: 100%;

    > .navbar {
        display: flex;
        flex-direction: row;
        width: 100%;
        position: absolute;
        justify-content: space-between;
        gap: 20px;
        pointer-events: painted;

        > div { 
            display: flex; 
            flex-direction: row; 
            align-items: start;
            margin: 10px;
        }

        > .left {
            > .logo-wrapper img {
                width: 70px;
                height: auto;
            }
        }

        button {
            background-color: var(--primary-red);
            border: black solid 2px;
            padding-block: 5px;
            padding-inline: 10px;
            color: white;
            border-radius: 2.5px;
            cursor: pointer;
            transition: scale 0.1s ease;

            &:hover {
                scale: 1.05;
            }

            &:active {
                scale: 0.95;
            }
        }
    }
}

@font-face {
    font-family: "Poppins";
    src: url(../font/Poppins-Regular.ttf);
}

@font-face {
    font-family: "Poppins";
    font-style: italic;
    src: url(../font/Poppins-Italic.ttf);
}

@font-face {
    font-family: "Poppins";
    font-weight: bold;
    src: url(../font/Poppins-Bold.ttf);
}

@font-face {
    font-family: "Poppins";
    font-weight: bold;
    font-style: italic;
    src: url(../font/Poppins-BoldItalic.ttf);
}

@font-face {
    font-family: "m6x11";
    src: url(../font/m6x11.ttf);
}