body {
    background-image: url("../img/bg-main.png");
    background-position: center;
    background-size: cover;
}

.main-container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 100px;

    > .left, .right { 
        display: flex; 
        flex-direction: column;
        flex-basis: calc(100% / 2);
    }

    > .left {
        align-items: end;
        > .logo-wrapper {
            width: 350px;
            > img {
                width: 100%;
                height: auto;
            }
        }
    }

    > .right {
        .controls-container, .info-container {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: clamp(100px, 100%, 300px);
            align-items: center;
        }

        .info-container {
            background-color: white;
            padding: 30px;
            border-radius: 5px;
            box-shadow: 0px 10px 10px 0px rgb(0, 0, 0, 0.25);

            > p {
                font-size: 0.9em;
            }

            .field-container {
                display: flex;
                gap: 10px;
                width: 100%;
                flex-direction: row;

                input {
                    position: relative;
                    border-radius: 5px;
                    border: none;
                    outline: var(--primary-red) solid 1px;
                    margin: 0;
                    padding-block: 10px;
                    padding-inline: 10px;
                    transition: all 0.1s ease;
                    flex-basis: 70%;
                }

                button {
                    width: 100%;
                    padding-block: 5px;
                    background-color: var(--primary-red);
                    border-radius: 5px;
                    border: none;
                    color: white;
                    cursor: pointer;
                    transition: scale 0.1s ease;
                    flex-basis: 30%;

                    &:hover {
                        scale: 1.05;
                    }

                    &:active {
                        scale: 0.95;
                    }
                }
            }

            .waiting-message-container {
                display: flex;
                flex-direction: row;

                > span:nth-of-type(1) { animation: jump 1s 0s infinite; }
                > span:nth-of-type(2) { animation: jump 1s 0.1s infinite; }
                > span:nth-of-type(3) { animation: jump 1s 0.2s infinite; }
            }
        }

        #createRoomBtn {
            width: 100%;
            border-radius: 5px;
            background-color: var(--primary-red);
            padding-block: 5px;
            color: white;
            border: black solid 2px;
            font-size: 1.2em;
            text-decoration: none;
            text-align: center;
            box-shadow: 0px 5px 10px 0px rgb(0, 0, 0, 0.25);
            transition: scale 0.1s ease;
            cursor: pointer;

            &:hover {
                scale: 1.1;
            }
            &:active {
                scale: 0.95;
            }
        }

        a {
            width: 50%;
            border-radius: 5px;
            background-color: var(--light-gray);
            backdrop-filter: blur(3px);
            padding-block: 3px;
            color: white;
            border: black solid 2px;
            text-decoration: none;
            text-align: center;
            box-shadow: 0px 5px 10px 0px rgb(0, 0, 0, 0.25);
            transition: scale 0.1s ease;
 
            &:hover {
                scale: 1.1;
            }
        }

        p { margin: 0; }
    }
}

@keyframes jump {
    50% {
        translate: 0 -40%;
    }
    60% {
        translate: 0 -30%;
    }
    70% {
        translate: 0 0;
    }
}